In [6]:
from autoscraper import AutoScraper
import pandas as pd

In [7]:
url = "https://books.toscrape.com/catalogue/category/books/travel_2/index.html"
req = ["It's Only the Himalayas","£45.17"]
scraper = AutoScraper()
res = scraper.build(url,req)
sen = list()
mon = list()
for i in res:
    if i[0] == "£":
        mon.append(i)
    else:
        sen.append(i)
new = list()
for i in range(11):
    new.append(sen[i])

In [8]:
data = {"title":new,"Price":mon}  #uses to convert list into data frames.
df = pd.DataFrame(data)
df

                                 title   Price
0              It's Only the Himalayas  £45.17
1            Full Moon over Noah’s ...  £49.43
2       See America: A Celebration ...  £48.87
3   Vagabonding: An Uncommon Guide ...  £36.94
4                 Under the Tuscan Sun  £37.33
5                   A Summer In Europe  £44.34
6             The Great Railway Bazaar  £30.54
7               A Year in Provence ...  £56.88
8               The Road to Little ...  £23.21
9          Neither Here nor There: ...  £38.95
10             1,000 Places to See ...  £26.08

In [9]:
df.to_csv("Webscrapping_the_Online_Website.csv")

In [16]:
string = "₹37,999"
for i in string:
    print(i)

₹
3
7
,
9
9
9

In [2]:
from autoscraper import AutoScraper
import pandas as pd

In [3]:
url = "https://www.flipkart.com/search?q=iphones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
req_list = ["APPLE iPhone 11 (White, 128 GB)","₹45,999","4.61,72,670 Ratings & 10,236 Reviews"]

flip_scrap = AutoScraper()
data = flip_scrap.build(url,req_list)
print(data)

['APPLE iPhone 12 mini (Black, 64 GB)', 'APPLE iPhone 13 (Midnight, 128 GB)', 'APPLE iPhone 13 (Blue, 128 GB)', 'APPLE iPhone 11 (Red, 128 GB)', 'APPLE iPhone 13 (Green, 128 GB)', 'APPLE iPhone 12 mini (White, 64 GB)', 'APPLE iPhone 13 ((PRODUCT)RED, 128 GB)', 'APPLE iPhone 11 (White, 128 GB)', 'APPLE iPhone 11 (Black, 128 GB)', 'APPLE iPhone 12 mini (Black, 128 GB)', 'APPLE iPhone 13 (Midnight, 256 GB)', 'APPLE iPhone 13 (Blue, 256 GB)', 'APPLE iPhone 13 (Green, 256 GB)', 'APPLE iPhone 11 (White, 64 GB)', 'APPLE iPhone 12 mini (White, 128 GB)', 'APPLE iPhone 12 mini (Blue, 64 GB)', 'APPLE iPhone 11 (Purple, 128 GB)', 'APPLE iPhone 11 (Yellow, 128 GB)', 'APPLE iPhone 13 (Starlight, 128 GB)', 'APPLE iPhone 11 (Purple, 64 GB)', 'APPLE iPhone 11 (Green, 64 GB)', 'APPLE iPhone 11 (Red, 64 GB)', 'APPLE iPhone 11 (Green, 128 GB)', 'APPLE iPhone 11 (Black, 64 GB)', '₹37,999', '₹62,999', '₹43,999', '₹45,999', '₹69,999', '₹40,999']

In [4]:
name = list()
price = list()
rating = list()
for i in data:
    if i[0] == "A":
        name.append(i)
    elif i[0] == "₹":
        price.append(i)
    else:
        rating.append(i)

In [5]:
print(len(name))
print(len(price))
print(len(rating))

24
6
0

In [6]:
bhuvan = set()
data = flip_scrap.get_result_similar(url,grouped=True)
data

{'rule_yjm5': ['APPLE iPhone 12 mini (Black, 64 GB)',
  'APPLE iPhone 13 (Midnight, 128 GB)',
  'APPLE iPhone 11 (Red, 128 GB)',
  'APPLE iPhone 13 (Blue, 128 GB)',
  'APPLE iPhone 13 (Green, 128 GB)',
  'APPLE iPhone 11 (White, 128 GB)',
  'APPLE iPhone 11 (Black, 128 GB)',
  'APPLE iPhone 12 mini (White, 64 GB)',
  'APPLE iPhone 13 ((PRODUCT)RED, 128 GB)',
  'APPLE iPhone 13 (Midnight, 256 GB)',
  'APPLE iPhone 12 mini (Black, 128 GB)',
  'APPLE iPhone 13 (Green, 256 GB)',
  'APPLE iPhone 12 mini (Blue, 64 GB)',
  'APPLE iPhone 12 mini (White, 128 GB)',
  'APPLE iPhone 11 (White, 64 GB)',
  'APPLE iPhone 13 (Starlight, 128 GB)',
  'APPLE iPhone 11 (Purple, 128 GB)',
  'APPLE iPhone 11 (Purple, 64 GB)',
  'APPLE iPhone 11 (Yellow, 64 GB)',
  'APPLE iPhone 13 (Starlight, 256 GB)',
  'APPLE iPhone 12 Pro (Graphite, 256 GB)',
  'APPLE iPhone 11 (Green, 64 GB)',
  'APPLE iPhone 13 (Starlight, 512 GB)',
  'APPLE iPhone 11 (Green, 128 GB)'],
 'rule_t3xr': ['APPLE iPhone 12 mini (Black, 64 GB)',
  'APPLE iPhone 13 (Midnight, 128 GB)',
  'APPLE iPhone 11 (Red, 128 GB)',
  'APPLE iPhone 13 (Blue, 128 GB)',
  'APPLE iPhone 13 (Green, 128 GB)',
  'APPLE iPhone 11 (White, 128 GB)',
  'APPLE iPhone 11 (Black, 128 GB)',
  'APPLE iPhone 12 mini (White, 64 GB)',
  'APPLE iPhone 13 ((PRODUCT)RED, 128 GB)',
  'APPLE iPhone 13 (Midnight, 256 GB)',
  'APPLE iPhone 12 mini (Black, 128 GB)',
  'APPLE iPhone 13 (Green, 256 GB)',
  'APPLE iPhone 12 mini (Blue, 64 GB)',
  'APPLE iPhone 12 mini (White, 128 GB)',
  'APPLE iPhone 11 (White, 64 GB)',
  'APPLE iPhone 13 (Starlight, 128 GB)',
  'APPLE iPhone 11 (Purple, 128 GB)',
  'APPLE iPhone 11 (Purple, 64 GB)',
  'APPLE iPhone 11 (Yellow, 64 GB)',
  'APPLE iPhone 13 (Starlight, 256 GB)',
  'APPLE iPhone 12 Pro (Graphite, 256 GB)',
  'APPLE iPhone 11 (Green, 64 GB)',
  'APPLE iPhone 13 (Starlight, 512 GB)',
  'APPLE iPhone 11 (Green, 128 GB)'],
 'rule_peu4': ['₹37,999',
  '₹62,999',
  '₹43,999',
  '₹62,999',
  '₹62,999',
  '₹45,999',
  '₹45,999',
  '₹37,999',
  '₹62,999',
  '₹69,999',
  '₹43,999',
  '₹69,999',
  '₹37,999',
  '₹43,999',
  '₹40,999',
  '₹62,999',
  '₹45,999',
  '₹40,999',
  '₹40,999',
  '₹69,999',
  '₹88,199',
  '₹40,999',
  '₹83,999',
  '₹45,999'],
 'rule_913e': ['₹37,999',
  '₹62,999',
  '₹43,999',
  '₹62,999',
  '₹62,999',
  '₹45,999',
  '₹45,999',
  '₹37,999',
  '₹62,999',
  '₹69,999',
  '₹43,999',
  '₹69,999',
  '₹37,999',
  '₹43,999',
  '₹40,999',
  '₹62,999',
  '₹45,999',
  '₹40,999',
  '₹40,999',
  '₹69,999',
  '₹88,199',
  '₹40,999',
  '₹83,999',
  '₹45,999'],
 'rule_zj9e': ['₹37,999',
  '₹62,999',
  '₹43,999',
  '₹62,999',
  '₹62,999',
  '₹45,999',
  '₹45,999',
  '₹37,999',
  '₹62,999',
  '₹69,999',
  '₹43,999',
  '₹69,999',
  '₹37,999',
  '₹43,999',
  '₹40,999',
  '₹62,999',
  '₹45,999',
  '₹40,999',
  '₹40,999',
  '₹69,999',
  '₹88,199',
  '₹40,999',
  '₹83,999',
  '₹45,999'],
 'rule_pgmx': ['₹37,999',
  '₹62,999',
  '₹43,999',
  '₹62,999',
  '₹62,999',
  '₹45,999',
  '₹45,999',
  '₹37,999',
  '₹62,999',
  '₹69,999',
  '₹43,999',
  '₹69,999',
  '₹37,999',
  '₹43,999',
  '₹40,999',
  '₹62,999',
  '₹45,999',
  '₹40,999',
  '₹40,999',
  '₹69,999',
  '₹88,199',
  '₹40,999',
  '₹83,999',
  '₹45,999'],
 'rule_hxq5': ['₹37,999',
  '₹62,999',
  '₹43,999',
  '₹62,999',
  '₹62,999',
  '₹45,999',
  '₹45,999',
  '₹37,999',
  '₹62,999',
  '₹69,999',
  '₹43,999',
  '₹69,999',
  '₹37,999',
  '₹43,999',
  '₹40,999',
  '₹62,999',
  '₹45,999',
  '₹40,999',
  '₹40,999',
  '₹69,999',
  '₹88,199',
  '₹40,999',
  '₹83,999',
  '₹45,999']}

In [50]:
dictionary = {"Name of the Procuct":name,"Price":price,"Rating of the Product":rating}
pan = pd.DataFrame(dictionary)
pan.to_csv("Apple_Products_web_scrapping.csv")